<div class="private-square span4 offset5 text-center">
  <br/>
  <br/>
  <h1>
    Community Based Dream Journal 
  </h1>
  <br/>
  <h2>
    <%= link_to 'LAUNCH NOW', posts_path, :class => 'btn btn-info btn-large btn-block btn-primary' %>
  </h2>
</div>