<div class="private-square span4 offset5 text-center">
    <img src="http://icons.iconarchive.com/icons/ampeross/qetto-2/128/camera-icon.png" class="img-rounded">
  <br/>
  <br/>
  <h1>
    MY AWESOME APP IS HERE!
  </h1>
  <br/>
  <h2>
    <%= link_to 'LAUNCH NOW', '#', :class => 'btn btn-info btn-large btn-block btn-primary' %>
  </h2>
</div>